:root {
  --color-headings: #3a3a3a;
  --color-product-name: #18191f;
  --color-product-desc: #787885;
  --color-droduct-price: #000;
  --color-button: #ff3400;
  --color-footer: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-headings);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h3 {
  color: var(--color-headings);
}

h1 {
  font-size: 5.2rem;
  font-weight: 700;
}

h2 {
  color: var(--color-product-name);
  font-size: 2.6rem;
  font-weight: 700;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
}

/* Links */

.link-arrow {
  text-decoration: none;
  background-color: var(--color-button);
  font-size: 1.6rem;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 15px;
}

/* header */

.container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
}

li {
  list-style: none;
  margin-left: 3rem;
}

li > a {
  text-decoration: none;
  color: var(--color-headings);
  font-size: 1.6rem;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .container {
    margin-top: 35px;
    justify-content: center;
  }

  h3 {
    font-size: 1.6rem;
  }

  .nav-list {
    display: none;
  }
}

/* main */

/* top section */

.top-container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 586px;
  height: 270px;
  margin-right: 130px;
}

.top-link {
  color: var(--color-footer);
  width: 196px;
  height: 44px;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.6rem;
}

.top-link:hover {
  background-color: red;
}

.top-content p {
  margin-top: 1.6rem;
}

.top-photo {
  width: 440px;
  height: 414px;
}

.top-photo img {
  width: 100%;
}

@media only screen and (max-width: 1023px) {
  .top-content {
    margin-right: 20px;
    height: 400px;
  }
}

@media only screen and (max-width: 767px) {
  .top-container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 5px;
  }

  .top-photo {
    width: 257px;
    height: 257px;
  }

  .top-content {
    width: 320px;
    height: 500px;
    margin-right: 0;
    align-items: center;
  }
}
